doctype html
html
	head
		link(rel="stylesheet", href="css/style.css")
		meta(charset="utf-8")
	body
		table(cellpadding="0", cellspacing="0").wrapper
			tr
				td
					table(cellpadding="0", cellspacing="0").header
						tr
							td
								a(href="#", target="_blank")
									img(src="img/logo.png", alt="logo")
							td.menu
								ul
									li
										a(href="#") Shawls
									li
										a(href="#") Clothing
									li
										a(href="#") Bags
									li
										a(href="#") Accessories
									li
										a(href="#") Sale
			tr
				td
					table(cellpadding="0", cellspacing="0").content-wrap
						tr
							td
								table(cellpadding="0", cellspacing="0").content
									tr
										td(colspan="2")
											h2 Василий Батькович, спасибо за ваш заказ!
									tr
										td(colspan="2")
											p Ваша заявка принята. Мы свяжемся с вами в ближайшее время для <br/> подтверждения заказа №123415
									tr
										td
											h2 Заказ №123415
										td.date
											p дата:&nbsp;01.04.2016
									tr
										td(colspan="2")
											table(cellpadding="0", cellspacing="0").order
												tr.border-bottom
													th.name Название товара
													th.count Кол-во
													th.sum Сумма
												tr.border-bottom
													td.name
														a(href="#") Beige Ukrainian scarf
													td.count 1
													td.sum 300$
									tr
										td(colspan="2")
											table(cellpadding="0", cellspacing="0").customer-info
												tr
													td.head Оплата:
													td.desc.payment Наличная
												tr
													td.head Покупатель:
													td.desc Василий Батькович, <a href="tel:+380937777777" value="380937777777">+3 8093 777 77 77</a>
												tr
													td.head Продавец:
													td.desc
														a(href="#" target="_blank")
															img(src="img/logo.png", alt="seller")
			tr
				td
					table(cellpadding="0", cellspacing="0").footer
						tr
							td.seller-name Интернет магазин «ButterflyUA»
							td.phone 
								<a href="tel:+380936666666" value="380936666666">+3 8093 666 66 66</a>
								<a href="tel:+380936666666" value="380936666666">+3 8093 555 55 55</a>
							td.subscribe
								a(href="#") подписаться на новости
			tr
				td
					table(cellpadding="0", cellspacing="0").social
						tr
							td 
								a.facebook(href="#" target="_blank")
								a.pinterest(href="#" target="_blank")
								a.instagram(href="#" target="_blank")
